
body {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

h1 {
  text-shadow: 5px 5px 5px rgb(39, 3, 9);
}

.form-box {
  background-size: contain;
  max-width: 400px;
  margin: 80px auto;
}
.card {
  background-color: rgb(152, 160, 174);
   border: none;
   border-radius: 15px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.card-img-top {
  background-color: teal;
  height: auto;        /* fixed height */
  width: auto;          /* prevents horizontal stretch */
  max-width: 100%;       /* reduce width */
  object-fit: contain;  /* keeps full image visible */
  display: flex;
  margin: 0 auto; 
   transition: transform 0.3s ease, box-shadow 0.3s ease;      /* centers image */
}
.card-img-top:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: -1;
  background-color: darkslategrey;
  transition: 100s ease-in-out;
}
.navbar {
  background: linear-gradient(
    240deg,
    #0f0f0f,
    #2b2b2b,
    #0f0f0f
  );
  animation: navbarGradient 20s linear infinite;
}
@keyframes navbarGradient {
  0% {
    background-position: 0% 50%;
    background: linear-gradient(
      240deg,
      #0f0f0f,
      #2b2b2b,
      #0f0f0f
    );
  }
  50% {
    background-position: 50% 100%;
    background: linear-gradient(
      240deg,
      #2b2b2b,
      #0f0f0f,
      #2b2b2b
    );
  }
  100% {
    background-position: 0% 50%;
    background: linear-gradient(
      240deg,
      #0f0f0f,
      #2b2b2b,
      #0f0f0f
    );
  }
  
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Adjust darkness here */
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}
.table-bg {
   
    background-position: center;      /* 👈 THIS makes it small */
    background-size: cover;
    height: 500px;
    width: 100%;
    border-bottom: none;
     background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),   /* overlay strength */
      rgba(0, 0, 0, 0.5)
    ),
    url('https://i.pinimg.com/736x/a7/c4/17/a7c417c2cf2920fa2fc7c109aa8cc750.jpg');
  animation: changeImage 20s ease-in-out infinite;
}
@keyframes changeImage {
  0% {
    background-position: 0% 49%;
    background-image:
     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url('https://i.pinimg.com/736x/a7/c4/17/a7c417c2cf2920fa2fc7c109aa8cc750.jpg');
  }
  49% {
    background-position: 49% 50%;
    background-image:
     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url('https://i.pinimg.com/736x/a7/c4/17/a7c417c2cf2920fa2fc7c109aa8cc750.jpg');
  }
  50% {
    background-image:
     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url('https://i.pinimg.com/1200x/29/e5/b4/29e5b40fc3bd1d36e28d081fa2f43d9c.jpg');
  }
  100% {
    background-position:0% 49%; ;
    background-image:
     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
     url('https://i.pinimg.com/1200x/29/e5/b4/29e5b40fc3bd1d36e28d081fa2f43d9c.jpg');
  }
}
